{% set checkPathUrl = hookable_metadata.context.checkPathUrl|default(null)  %}
{% set checkPathRoute = hookable_metadata.context.checkPathRoute|default(null)  %}
{% set authenticationError = hookable_metadata.context.authenticationError|default(null)  %}
{% set authenticationErrorData = hookable_metadata.context.authenticationErrorData|default(null) %}
{% set authCodeParameterName = hookable_metadata.context.authCodeParameterName|default(null)  %}
{% set availableTwoFactorProviders = hookable_metadata.context.availableTwoFactorProviders|default(null)  %}
{% set twoFactorProvider = hookable_metadata.context.twoFactorProvider|default(null)  %}
{% set authenticationErrorData = hookable_metadata.context.authenticationErrorData|default(null)  %}
{% set logoutPath = hookable_metadata.context.logoutPath|default(null)  %}

<form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post" class="ui large loadable form" novalidate>
    <div class="ui left aligned very padded segment">
        {% if authenticationError %}
            <div class="alert alert-danger">{{ authenticationError | trans(authenticationErrorData ?? [] , 'SchebTwoFactorBundle') }}</div>
        {% endif %}

        {% if availableTwoFactorProviders|length > 1 %}
            <ul class="nav nav-tabs mb-3">
                {% for provider in availableTwoFactorProviders %}
                    <li class="nav-item">
                        <a class="nav-link {% if provider == twoFactorProvider %}active{% endif %}" {% if provider == twoFactorProvider %}aria-current="page"{% endif %} href="{{ path('bitexpert_sylius_2fa_admin_login', {preferProvider: provider}) }}">{{ provider|capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% elseif twoFactorProvider is defined %}
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{ twoFactorProvider|capitalize }}</a>
                </li>
            </ul>
        {% endif %}

        <div class="mb-3 field">
            <label for="2fa_code" class="form-label required">{{ 'bitexpert_sylius_twofactor.admin.2fa_login.headline'|trans }}</label>
            <div class="d-flex gap-2 verification-code">
                {% for i in 0..5 %}
                    <input type="text" id="two_factor_verification_code_{{ i }}" name="{{ authCodeParameterName }}_{{ i }}" required="required" maxlength="1" class="form-control text-center digit-input" inputmode="numeric" pattern="[0-9]" {% if i == 0 %}autofocus{% endif %}>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn btn-primary w-100">{{ 'bitexpert_sylius_twofactor.admin.2fa_login.login'|trans }}</button>
        {% if logoutPath %}
            <a href="{{ logoutPath }}" class="btn btn-secondary w-100 mt-3">{{ 'bitexpert_sylius_twofactor.admin.2fa_login.back'|trans }}</a>
        {% endif %}
        <input type="hidden" name="_csrf_admin_security_token" value="{{ csrf_token('admin_authenticate') }}">
    </div>
</form>
